<% content_for :head do %>
  <%= javascript_include_tag asset_path "questions_show.js" %>
<% end %>

<div class="container" style="padding:80px 0 60 0px">
  <div class="row">
    <div class="col col-md-5"></div>
    <div class="col col-md-2">
      <img src=<%= asset_path "logo-n4-3.png" %> class="img-responsive" alt="Responsive image">
    </div>
    <div class="col col-md-5"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-body">
          <p>
            <strong><%= @question.content %></strong>
          </p>
        </div>
        <!-- List group -->
        <ul id="answer_list" class="list-group">
          <% if @is_asker_or_follower && @question.answers.size > 0 %>
            <% for answer in @question.answers %>
              <li class="list-group-item">
                <ul>
                  <li><%= answer.content %></li>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col col-md-3"></div>
  </div>

  <% if !@is_asker_or_follower %>
    <%#= form_for [@question, Answer.new] do |f| %>

      <div id="text" class="row">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
          <%= form_for [@question, Answer.new] do |f| %>
            <!--textarea id="new_answer_content", class="autoresize" placeholder="Please type your answer..." style="width:100%"></textarea-->
            <%= f.text_area :content, :cols => "", :rows => "", :class => "autoresize", :placeholder => "Please type your question...", :style => "width:100%"%>
          <% end %>
          <%= form_tag question_followers_path(@question), :id => "new_follower" do |f| %>
          <% end %>
        </div>
        <div class="col col-md-3"></div>
      </div>
      <div class="row" style="padding:5px 0 60 0px">
        <div class="col col-md-3"></div>
        <div class="col col-md-6">
          <div class="text-center">
            <div class="btn-group btn-group-lg">
              <a href="/" class="btn ">Ignore</a>
              <a id="answer_button" href="#" class="btn btn-lg btn-primary">Answer</a>
              <a id="follow_button" href="#" class="btn ">follow</a>
            </div>
          </div>
        </div>
        <div class="col col-md-3"></div>
      </div>
    <%# end %>
  <% end %>
</div>