
<%= form_for Question.new, :remote => true, :html => {:class => "form-inline box", :style => "width:auto;height:400px;"} do |f| %>
  <div align="center" id="cell">
    <%= f.text_area :content, :rows => 3, :cols => 50 %>
    <%= f.button "Go fucking Ask!!!", :class => "btn btn-primary"%>
  </div>
  <div align="center" id="cell">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
