<!DOCTYPE html>
<html>
<head>
  <title>Fast Q</title>
  <meta charset="UTF-8"><meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href=<%= asset_path "logo-n4-justQ_icon_blue.png" %>>
</head>
<body class="" style="background-color: #fff">

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width:100%">

      <a class="brand" href="/">
        <img src=<%= asset_path "logo-n4-justQ_icon_blue.png" %> width="40">
      </a>      

      <ul class="nav nav-pills navbar-nav pull-right">
        <li href="#" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-question-sign"></span>
            <span id="question_notifications_counter" class="badge"></span>
          </a>
          <ul id="question_notifications_list" class="dropdown-menu " role="menu" aria-labelledby="dLabel">
            <li role="presentation" class="dropdown-header">Question Asked</li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">See All</a>
            </li>
          </ul>
        </li>

        <li href="#" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span id="answer_notifications_counter" class="badge"></span>
          </a>
          <ul id="answer_notifications_list" class="dropdown-menu " role="menu" aria-labelledby="dLabel">
            <li role="presentation" class="dropdown-header">Anwser Recieved</li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">See All</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href=<%= destroy_user_session_path %> data-method="delete">Sign out(<%= current_user.email %>)</a>
            </li>
          </ul>
        </li>

      </ul>

    </div>
  </div> 
</div> 

<!-- p class="notice"><%= notice %></p -->
<!-- p class="alert"><%= alert %></p -->

<%= yield %>

</body>
</html>
