<!DOCTYPE html>
<html>
<head>
  <title>Fast Q</title>
  <meta charset="UTF-8"><meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "http://" + TestMongoid::Application.config.faye_server_domain_name + ":" + TestMongoid::Application.config.faye_server_port.to_s + "/faye.js" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <%= javascript_tag do %>
      window.channels = <%= channels_json %>
      window.notification_objects = <%= notification_objects_json %>
      window.faye_server_domain_name = <%= ('\'' + TestMongoid::Application.config.faye_server_domain_name + '\'').html_safe %>
      window.faye_server_port = <%= TestMongoid::Application.config.faye_server_port %>
    <% end %>
  <% end %>
  <link rel="shortcut icon" href=<%= asset_path "logo-n4-justQ_icon_blue.png" %>>
</head>
<body class="" style="background-color: #fff">

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width:100%">

           

      <% if user_signed_in? %>
        <ul class="nav nav-pills navbar-nav pull-right">
          <li href="#" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-question-sign"></span>
              <span id="question_notifications_counter" class="badge"></span>
            </a>
            <ul id="question_notifications_list" class="dropdown-menu " role="menu" aria-labelledby="dLabel">
              <li role="presentation" class="dropdown-header">Question Asked</li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">See All</a>
              </li>
            </ul>
          </li>

          <li href="#" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-info-sign"></span>
              <span id="answer_notifications_counter" class="badge"></span>
            </a>
            <ul id="answer_notifications_list" class="dropdown-menu " role="menu" aria-labelledby="dLabel">
              <li role="presentation" class="dropdown-header">Anwser Recieved</li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">See All</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href=<%= destroy_user_session_path %> data-method="delete">Sign out(<%= current_user.email %>)</a>
              </li>
            </ul>
          </li>

        </ul>
      <% end %>

    </div>
  </div> 
</div> 

<!-- p class="notice"><%= notice %></p -->
<!-- p class="alert"><%= alert %></p -->

<%= yield %>
<div class="container">
  <div class="row">
    <div class="col col-md-4"></div>
    <div class="col col-md-4">
      <div id="alert_text" class="alert alert-warning">
        <center><%= alert %></center>
      </div>
    </div>
    <div class="col col-md-4"></div>
  </div>
</div>
</body>
</html>
